@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700);
@font-face {
  font-family: "Nekst";
  font-display: swap;
  src: url("../fonds/Nekst-SemiBold.woff2") format("woff2"), url("../fonds/Nekst-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nekst";
  font-display: swap;
  src: url("../fonds/Nekst-Bold.woff2") format("woff2"), url("../fonds/Nekst-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[class$=__container] {
  max-width: 1400px;
  padding: 0px 10px;
  margin: 0 auto;
}

body {
  position: relative;
  font-family: "Ubuntu";
  background-color: #F5F8FB;
  color: #161616;
  overflow-x: hidden;
}

body.body_overflow {
  overflow: hidden;
}

.text-blue {
  white-space: nowrap;
  color: #1843BF;
}

.button-orange {
  position: relative;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 35px;
  color: #ffffff;
  font-weight: 700;
  background-color: #ffb17d;
  box-shadow: 0px 0px 0px 4px rgba(255, 102, 0, 0.2);
  border-radius: 30px;
  overflow: hidden;
}
.button-orange__text {
  position: relative;
  z-index: 2;
  line-height: 150%;
  right: 0;
  transition: right 0.5s;
}
.button-orange__icon {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
}
.button-orange::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #FF6600;
  border-radius: 30px;
  transition: width 0.5s, height 0.5s, margin 0.5s;
}
.button-orange:hover:before {
  width: 48px;
  height: calc(100% - 8px);
  margin: 4px;
  border-radius: 30px;
}
.button-orange:hover .button-orange__icon {
  opacity: 1;
}
.button-orange:hover svg {
  animation: arrow 1s forwards;
}
.button-orange:hover .button-orange__text {
  right: 23px;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: rgba(245, 248, 251, 0.9019607843);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.header__body {
  padding: 24px 0px;
}
.header__shell {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 15;
}
@media (max-width: 991.98px) and (min-width: 766.98px) {
  .header__logo-big {
    display: none;
  }
}
@media (max-width: 400px) {
  .header__logo-big {
    width: 200px;
  }
}
@media (min-width: 991.98px), (max-width: 766.98px) {
  .header__logo-small {
    display: none;
  }
}
@media (max-width: 766.98px) {
  .header__anhor {
    position: fixed;
    top: 20vh;
    left: 0%;
    width: 100%;
    z-index: 15;
    pointer-events: none;
  }
}
.header__anhor a {
  color: #161616;
  line-height: 150%;
}
.header__anhor-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  background-color: #ffffff;
  border-radius: 30px;
}
@media (min-width: 766.98px) {
  .header__anhor-lists {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  }
}
@media (max-width: 1200px) {
  .header__anhor-lists {
    padding: 16px 15px;
  }
}
@media (max-width: 991.98px) {
  .header__anhor-lists {
    padding: 16px 10px;
  }
}
@media (max-width: 766.98px) {
  .header__anhor-lists {
    flex-direction: column;
    background-color: transparent;
  }
}
.header__anhor-paragraph {
  margin: 0px 30px;
  overflow: hidden;
}
.header__anhor-paragraph span {
  display: block;
  line-height: 200%;
}
@media (max-width: 766.98px) {
  .header__anhor-paragraph span {
    transform: translate(0px, -100%);
  }
}
@media (max-width: 1200px) {
  .header__anhor-paragraph {
    margin: 0px 15px;
  }
}
@media (max-width: 991.98px) {
  .header__anhor-paragraph {
    margin: 0px 10px;
  }
}
@media (max-width: 766.98px) {
  .header__anhor-paragraph {
    margin-bottom: 32px;
  }
}
.header__button-sell {
  overflow: hidden;
}
@media (max-width: 766.98px) {
  .header__button-sell {
    position: fixed;
    top: calc(20vh + 300px);
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 15;
    pointer-events: none;
  }
}
@media (max-width: 766.98px) {
  .header__button {
    width: 100%;
    min-width: 215px;
  }
}
.header__button a {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 35px;
  font-family: "Nekst";
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
  border-radius: 30px;
}
@media (max-width: 766.98px) {
  .header__button.header__button-top {
    transform: translate(0%, -101%);
    z-index: 15;
  }
}

.header__button-sell.header__button-sell-active .header__button-top {
  transform: translate(0%, 0%);
  transition: transform 0.5s 0.9s;
  pointer-events: all;
}

@media (max-width: 766.98px) {
  .is-opened a span {
    transform: translate(0px, 0%);
    transition: transform 0.5s ease-out calc(0.5s * (var(--i)));
    pointer-events: all;
  }
}

._pc .header__button-svg {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}

._pc .button-blue-hover {
  position: relative;
  background-color: #708ada;
  border-radius: 27px;
}
._pc .button-blue-hover a {
  position: relative;
  z-index: 2;
}
._pc .button-blue-hover:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #1843BF;
  border-radius: 27px;
  transition: width 0.5s, height 0.5s, margin 0.5s;
}
._pc .button-blue-hover:hover:before {
  width: 50px;
  height: calc(100% - 8px);
  margin: 4px;
}
._pc .button-blue-hover .header__button-text {
  position: relative;
  top: 0;
  left: 0;
  transition: left 0.5s;
}
._pc .button-blue-hover:hover .header__button-text {
  left: -25px;
}
._pc .button-blue-hover:hover .header__button-svg {
  opacity: 1;
}
._pc .button-blue-hover:hover .header__button-svg svg {
  animation: arrow 1s forwards;
}

@keyframes arrow {
  50% {
    transform: translate(0%, 0%);
  }
  75% {
    transform: translate(180%, 0%);
  }
  76% {
    transform: translate(-180%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.header__button-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

body._touch .header__button-svg {
  display: flex;
}

._touch .header__button {
  background-color: #1843BF;
  border-radius: 30px;
}
._touch .header__button a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
._pc .header__anhor-paragraph a {
  position: relative;
}
._pc .header__anhor-paragraph a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0%;
  min-height: 1.5px;
  background-color: #FF6600;
  transition: width 0.5s;
}
._pc .header__anhor-paragraph a::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 50%;
  width: 0%;
  min-height: 1.5px;
  background-color: #FF6600;
  transition: width 0.5s;
}

._pc .header__anhor-paragraph:hover a::before {
  width: 50%;
}
._pc .header__anhor-paragraph:hover a::after {
  width: 50%;
}
._pc .header__anhor-paragraph:hover span {
  animation: wor 0.5s ease-out;
}

@keyframes wor {
  0% {
    transform: translate(0%, 0%);
  }
  40% {
    transform: translate(0%, 200%);
  }
  41% {
    transform: translate(0%, -100%) rotate(-10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@media (min-width: 766.98px) {
  .header__burger {
    display: none;
  }
}
.header__burger-body {
  position: relative;
  z-index: 20;
  width: 48px;
  height: 48px;
  background-color: #1843BF;
  border-radius: 50%;
}
.header__burger-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #708ada;
  animation: bord 1.5s ease infinite;
}
.header__burger-line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 22px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffffff;
}
.header__burger-line-1 {
  top: 16px;
}
.header__burger-line-2 {
  top: calc(50% - 1px);
}
.header__burger-line-3 {
  bottom: 16px;
}

@keyframes bord {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@media (min-width: 766.98px) {
  .arrow_left,
  .arrow_fight {
    display: none;
  }
}

.arrow_fight {
  transform: rotate(180deg);
}

@media (max-width: 766.98px) {
  .first-screen {
    display: flex;
    flex-direction: column;
  }
}
.first-screen__background {
  position: relative;
  z-index: -1;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  overflow-x: hidden;
}
@media (max-width: 766.98px) {
  .first-screen__background {
    order: 2;
  }
}
.first-screen__svg {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
  outline: 10px solid #CED1F3;
}
@media (max-width: 1920px) {
  .first-screen__svg {
    width: 1920px;
  }
}
@media (max-width: 1400px) {
  .first-screen__svg {
    width: 137.1428571429vw;
  }
}
@media (max-width: 1280px) {
  .first-screen__svg {
    width: 114.2857142857vw;
    left: 55%;
  }
}
@media (max-width: 766.98px) {
  .first-screen__svg {
    top: 0;
    left: 30%;
    width: 170%;
  }
}
.first-screen__body {
  width: 100%;
  top: 190px;
}
@media (min-width: 766.98px) {
  .first-screen__body {
    position: absolute;
    left: 0;
  }
}
@media (max-width: 1400px) {
  .first-screen__body {
    top: 13.5714285714vw;
  }
}
@media (max-width: 991.98px) {
  .first-screen__body {
    top: 16.4285714286vw;
  }
}
@media (max-width: 766.98px) {
  .first-screen__body {
    order: 1;
    margin-bottom: 15px;
  }
}
.first-screen__block {
  max-width: 462px;
}
@media (max-width: 766.98px) {
  .first-screen__block {
    max-width: 100%;
  }
}
.first-screen__title {
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .first-screen__title {
    font-size: 50px;
  }
}
@media (max-width: 766.98px) {
  .first-screen__title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}
@media (max-width: 500px) {
  .first-screen__title {
    font-size: 36px;
  }
}
.first-screen__title-text {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 120%;
  color: #565656;
}
@media (max-width: 766.98px) {
  .first-screen__title-text {
    font-size: 14px;
  }
}
.first-screen__button a {
  display: inline-block;
}
.first-screen__documents {
  margin-top: -3px;
}
.first-screen__documents-shell {
  position: relative;
  margin-bottom: 50px;
  padding: 70px 0px 134px;
  overflow: hidden;
}
.first-screen__documents-shell::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 4000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #CED1F3;
  border: 14px solid #ffffff;
}
.first-screen__documents-title {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Nekst";
  font-weight: 600;
  font-size: 64px;
  color: #1843BF;
}
@media (max-width: 991.98px) {
  .first-screen__documents-title {
    font-size: 45px;
  }
}
@media (max-width: 766.98px) {
  .first-screen__documents-title {
    font-size: 24px;
  }
}
.first-screen__documents-content {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .first-screen__documents-content {
    max-width: calc(100% + 20px);
    margin: 0px -10px;
  }
}
@media (max-width: 766.98px) {
  .first-screen__documents-content {
    max-width: 100%;
    margin: 0px;
  }
}
.first-screen__documents-element {
  margin: 10px 20px;
  padding: 14px 20px;
  flex: 1 0 30%;
  display: flex;
  color: #ffffff;
  background-color: #1843BF;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px #ffffff;
}
@media (max-width: 1240px) {
  .first-screen__documents-element {
    margin: 10px 1.6129032258vw;
  }
}
@media (max-width: 766.98px) {
  .first-screen__documents-element {
    flex: 1 1 auto;
  }
}
.first-screen__documents-namber {
  margin-bottom: 10px;
  font-family: "Nekst";
  font-size: 64px;
  font-weight: 600;
}
@media (max-width: 991.98px) {
  .first-screen__documents-namber {
    font-size: 40px;
  }
}
.first-screen__documents-text {
  line-height: 150%;
  color: #E8EAFC;
}
@media (max-width: 991.98px) {
  .first-screen__documents-text {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .first-screen__documents-imege {
    flex: 0 0 50%;
  }
  .first-screen__documents-imege svg {
    width: 100%;
    height: 100%;
  }
}

.opportunity__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1400px) {
  .opportunity__block {
    -moz-column-gap: 4.2857142857vw;
         column-gap: 4.2857142857vw;
  }
}
@media (max-width: 766.98px) {
  .opportunity__block {
    flex-direction: column;
  }
}
.opportunity__image {
  font-family: "Nekst";
}
.opportunity__image svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 766.98px) {
  .opportunity__image {
    order: 2;
  }
}
.opportunity__content {
  flex: 0 0 35%;
  min-width: 390px;
}
@media (max-width: 766.98px) {
  .opportunity__content {
    order: 1;
    min-width: 100%;
  }
}
.opportunity__title {
  margin-bottom: 24px;
  font-family: "Nekst";
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .opportunity__title {
    font-size: 30px;
  }
}
@media (max-width: 766.98px) {
  .opportunity__title {
    font-size: 24px;
  }
}
.opportunity__text {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #565656;
}
.opportunity__button a {
  display: inline-block;
}

.connect {
  margin-bottom: 60px;
}
.connect__title {
  margin: 0 auto 50px;
  max-width: 400px;
  font-family: "Nekst";
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
}
@media (max-width: 766.98px) {
  .connect__title {
    font-size: 24px;
  }
}
.connect__imege svg {
  width: 100%;
  height: 100%;
}

.tabs {
  position: relative;
  padding: 130px 0px;
  margin-bottom: 30px;
}
@media (max-width: 1400px) {
  .tabs {
    padding: 10.7142857143vw 0px;
  }
}
@media (max-width: 766.98px) {
  .tabs {
    padding: 14.2857142857vw 0px;
  }
}
.tabs__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tabs__background:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%, 0%);
  height: calc(100% - 28px);
  width: 200%;
  background-color: #CED1F3;
  border-radius: 50%;
  outline: 14px solid #ffffff;
}
@media (max-width: 991.98px) {
  .tabs__background:before {
    width: 2000px;
  }
}
@media (max-width: 766.98px) {
  .tabs__background:before {
    width: 1500px;
  }
}
.tabs__title {
  margin-bottom: 40px;
  font-family: "Nekst";
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 766.98px) {
  .tabs__title {
    font-size: 24px;
  }
}
.tabs__item {
  margin-bottom: 4px;
}
.tabs__item-element {
  display: block;
  padding: 24px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
}
.tabs__item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.tabs__item-title-text {
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  color: #1843BF;
}
.tabs__item-title-icon {
  transform: rotate(135deg);
  transition: transform 0.3s;
}
.tabs__item-text {
  display: block;
  text-align: start;
  line-height: 150%;
  overflow: hidden;
  max-height: 0px;
  padding-top: 0px;
  transition: max-height 0.4s, padding-top 0.4s;
}

body._touch .tabs__item-element.tabs__open .tabs__item-title-icon,
body._pc .tabs__item-element:hover .tabs__item-title-icon {
  transform: rotate(0deg);
}

body._pc .tabs__item-element:hover .tabs__item-text,
body._touch .tabs__item-element.tabs__open .tabs__item-text {
  max-height: 90px;
  padding-top: 15px;
}
@media (max-width: 1400px) {
  body._pc .tabs__item-element:hover .tabs__item-text,
  body._touch .tabs__item-element.tabs__open .tabs__item-text {
    max-height: calc(90px + (1px - 0.0714285714vw) * 150);
  }
}
@media (max-width: 766.98px) {
  body._pc .tabs__item-element:hover .tabs__item-text,
  body._touch .tabs__item-element.tabs__open .tabs__item-text {
    max-height: calc(90px + (1px - 0.0714285714vw) * 200);
  }
}

.popular {
  margin-bottom: 70px;
}
@media (max-width: 1400px) {
  .popular {
    margin-bottom: 5vw;
  }
}
.popular__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 766.98px) {
  .popular__body {
    display: block;
    text-align: center;
  }
}
.popular__content {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  flex: 0 0 45%;
  min-width: 540px;
}
@media (max-width: 1200px) {
  .popular__content {
    flex: 0 1 50%;
    min-width: 0px;
  }
}
.popular__title {
  margin-bottom: 32px;
  font-family: "Nekst";
  font-weight: 600;
  font-size: 64px;
}
@media (max-width: 1200px) {
  .popular__title {
    font-size: 55px;
  }
}
@media (max-width: 991.98px) {
  .popular__title {
    font-size: 40px;
  }
}
@media (max-width: 766.98px) {
  .popular__title {
    font-size: 24px;
  }
}
.popular__button a {
  display: inline-block;
}
.popular__image {
  flex: 0 1 55%;
}
.popular__image svg {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  padding: 82px 0px 42px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .footer {
    padding-top: 5.8571428571vw;
    padding-bottom: 3vw;
  }
}
@media (max-width: 766.98px) {
  .footer {
    padding-top: 8.5714285714vw;
  }
}
.footer::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 14px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 214.2857142857vw;
  height: 300%;
  border-radius: 50%;
  background-color: #CED1F3;
  outline: 14px solid #ffffff;
}
.footer__shell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__ownership {
  white-space: nowrap;
  opacity: 0.6;
  font-weight: 500;
}
@media (max-width: 766.98px) {
  .footer__anhor {
    display: none;
  }
}
.footer__anhor a {
  color: #161616;
  line-height: 150%;
}
.footer__anhor-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}
@media (max-width: 991.98px) {
  .footer__anhor-lists {
    padding: 10px;
    justify-content: center;
  }
}
.footer__anhor-paragraph {
  margin: 0px 20px;
}
@media (max-width: 991.98px) {
  .footer__anhor-paragraph {
    margin: 0px;
  }
}
.footer__anhor-paragraph a {
  padding: 10px;
}

@media (max-width: 766.98px) {
  body._touch .header__button.footer_button {
    background-color: transparent;
  }
}
@media (max-width: 766.98px) {
  body._touch .header__button.footer_button .header__button-text {
    color: #161616;
    opacity: 0.6;
    font-weight: 500;
  }
}
@media (max-width: 766.98px) {
  body._touch .header__button.footer_button a {
    padding: 10px;
  }
}

@media (max-width: 766.98px) {
  body._touch .header__button.footer_button .header__button-text {
    display: block;
    width: 100%;
    text-align: end;
  }
  body._touch .header__button.footer_button a {
    display: block;
    padding-right: 0;
  }
  body._touch .header__button.footer_button .header__button-svg svg {
    display: none;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  bottom: -55px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 0px;
}

.slick-arrow.slick-prev {
  transform: translate(calc(-100% - 5px), 0%);
}

.slick-arrow.slick-next {
  transform: translate(5px, 0%);
}

.shape-overlays {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.shape-overlays path:nth-of-type(1) {
  fill: #708ada;
}

.shape-overlays path:nth-of-type(2) {
  fill: #CCCFF1;
}

.shape-overlays path:nth-of-type(3) {
  fill: #ffffff;
}

.header__fon {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  pointer-events: none;
}
@media (min-width: 766.98px) {
  .header__fon {
    display: none;
  }
}

.observer {
  opacity: 0;
  transform: translate(0px, 100px);
  transition: opacity 1s, transform 1s;
}