.footer {
   position: relative;
   padding: 82px 0px 42px;

   @media (max-width:1400px) {
      padding-top: calc(100vw / 1400 * 82);
      padding-bottom: calc(100vw / 1400 * 42);
   }

   @media (max-width:766.98px) {
      padding-top: calc(100vw / 1400 * 120);
   }

   overflow: hidden;

   &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 14px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: calc(100vw / 1400 * 3000);
      height: 300%;
      border-radius: 50%;
      background-color: #CED1F3;
      outline: 14px solid #ffffff;
   }

   &__container {}

   &__body {}

   &__shell {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__ownership {
      white-space: nowrap;
      opacity: 0.6;
      font-weight: 500;
   }

   &__anhor {
      @media (max-width:766.98px) {
         display: none;
      }

      a {
         color: #161616;
         line-height: 150%;
      }
   }

   &__anhor-lists {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;

      @media (max-width:991.98px) {
         padding: 10px;
         justify-content: center;
      }
   }

   &__anhor-paragraph {
      margin: 0px 20px;

      @media (max-width:991.98px) {
         margin: 0px;
      }

      a {
         padding: 10px;
      }
   }
}


.header__button.footer_button {
   display: block;

   @media (max-width:766.98px) {
      background-color: transparent;

   }

   .header__button-text {
      @media (max-width:766.98px) {
         color: #161616;
         opacity: 0.6;
         font-weight: 500;
      }
   }

   a {
      @media (max-width:766.98px) {
         padding: 10px;
      }
   }

}



body._touch .header__button.footer_button {
   @media (max-width:766.98px) {
      .header__button-text {
         display: block;
         width: 100%;
         text-align: end;
      }

      a {
         display: block;
         padding-right: 0;
      }

      .header__button-svg svg {
         display: none;
      }
   }
}