.arrow_left,
.arrow_fight {
   @media (min-width:766.98px) {
      display: none;
   }
}

.arrow_fight {
   transform: rotate(180deg);
}


.first-screen {

   @media (max-width:766.98px) {
      display: flex;
      flex-direction: column;
   }

   &__background {
      position: relative;
      z-index: -1;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 100%;
      overflow-x: hidden;

      @media (max-width:766.98px) {
         order: 2;
      }
   }

   &__svg {
      position: relative;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 100%;
      height: 100%;
      outline: 10px solid #CED1F3;

      @media (max-width:1920px) {
         width: 1920px;
      }

      @media (max-width:1400px) {
         width: calc(100vw / 1400 * 1920);
      }

      @media (max-width:1280px) {
         width: calc(100vw / 1400 * 1600);
         left: 55%;
      }

      @media (max-width:766.98px) {
         top: 0;
         left: 30%;
         width: 170%;
      }
   }

   &__body {
      width: 100%;

      @media (min-width:766.98px) {
         position: absolute;
         top: 115px;
         left: 0;
      }

      @media (max-width:766.98px) {
         order: 1;
         margin-bottom: 15px;
      }
   }

   &__container {}

   &__block {
      max-width: 462px;

      @media (max-width:766.98px) {
         max-width: 100%;
      }
   }

   &__title {
      font-size: 64px;
      margin-bottom: 24px;

      @media (max-width:991.98px) {
         font-size: 50px;
      }

      @media (max-width:766.98px) {
         font-size: 40px;
         margin-bottom: 16px;
      }

      @media (max-width:500px) {
         font-size: 36px;
      }
   }

   &__title-text {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 120%;
      color: #565656;

      @media (max-width:766.98px) {
         font-size: 14px;
      }
   }

   &__button {
      a {
         display: inline-block;
      }
   }

   &__documents {
      margin-top: -3px;
   }

   &__documents-shell {
      position: relative;
      margin-bottom: 50px;
      padding: 70px 0px 134px;
      overflow: hidden;

      &::before {
         content: '';
         position: absolute;
         z-index: -1;
         bottom: 0px;
         left: 50%;
         transform: translate(-50%, 0%);
         width: 4000px;
         height: 1000px;
         border-radius: 50%;
         background-color: #CED1F3;
         border: 14px solid #ffffff;
      }

   }

   &__documents-title {
      margin-bottom: 40px;
      text-align: center;
      font-family: 'Nekst';
      font-weight: 600;
      font-size: 64px;
      color: #1843BF;

      @media (max-width:991.98px) {
         font-size: 45px;
      }

      @media (max-width:766.98px) {
         font-size: 24px;
      }
   }

   &__documents-content {
      position: relative;
      max-width: 1240px;
      margin: 0 auto;

      @media (max-width:1240px) {
         max-width: calc(100% + 20px);
         margin: 0px -10px;
      }

      @media (max-width:766.98px) {
         max-width: 100%;
         margin: 0px;
      }
   }

   &__documents-element {
      margin: 10px 20px;
      padding: 14px 20px;
      flex: 1 0 30%;
      display: flex;
      color: #ffffff;
      background-color: #1843BF;
      border-radius: 20px;
      box-shadow: 8px 8px 0px 0px #ffffff;

      @media (max-width:1240px) {
         margin: 10px calc(100vw / 1240 * 20);
      }

      @media (max-width:766.98px) {
         flex: 1 1 auto;
      }
   }

   &__documents-block {}

   &__documents-namber {
      margin-bottom: 10px;
      font-family: 'Nekst';
      font-size: 64px;
      font-weight: 600;

      @media (max-width:991.98px) {
         font-size: 40px;
      }
   }

   &__documents-text {
      line-height: 150%;
      color: #E8EAFC;

      @media (max-width:991.98px) {
         font-size: 14px;
      }
   }

   &__documents-imege {
      @media (max-width:1024px) {
         flex: 0 0 50%;

         svg {
            width: 100%;
            height: 100%;
         }
      }
   }
}



.opportunity {

   &__body {
      margin-bottom: 100px;

      @media (max-width:1400px) {
         margin-bottom: calc(100vw / 14);
      }
   }

   &__body:last-child {
      @media (min-width:1400px) {
         margin-bottom: 50px;
      }

   }

   &__container {}

   &__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 60px;

      @media (max-width:1400px) {
         column-gap: calc(100vw / 1400 * 60);
      }

      @media (max-width:766.98px) {
         flex-direction: column;
      }
   }

   &__image {
      svg {
         width: 100%;
         height: 100%;
      }

      @media (max-width:766.98px) {
         order: 2;
      }
   }

   &__content {
      flex: 0 0 35%;
      min-width: 390px;

      @media (max-width:766.98px) {
         order: 1;
         min-width: 100%;
      }
   }

   &__title {
      margin-bottom: 24px;
      font-family: 'Nekst';
      font-weight: 600;
      font-size: 36px;
      line-height: 120%;

      @media (max-width:991.98px) {
         font-size: 30px;
      }

      @media (max-width:766.98px) {
         font-size: 24px;
      }
   }

   &__text {
      margin-bottom: 32px;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      color: #565656;
   }

   &__button {
      a {
         display: inline-block;
      }
   }
}

.connect {
   margin-bottom: 60px;

   &__container {}

   &__title {
      margin: 0 auto 50px;
      max-width: 400px;
      font-family: 'Nekst';
      font-weight: 600;
      font-size: 36px;
      line-height: 120%;
      text-align: center;

      @media (max-width:766.98px) {
         font-size: 24px;
      }
   }

   &__imege {
      svg {
         width: 100%;
         height: 100%;
      }
   }
}



.tabs {
   position: relative;
   padding: 130px 0px;

   @media (max-width:1400px) {
      padding: calc(100vw / 1400 * 150) 0px;
   }

   @media (max-width:766.98px) {
      padding: calc(100vw / 1400 * 200) 0px;
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &:before {
         content: '';
         position: absolute;
         top: 14px;
         left: 50%;
         transform: translate(-50%, 0%);
         height: calc(100% - 28px);
         width: 200%;
         background-color: #CED1F3;
         border-radius: 50%;
         outline: 14px solid #ffffff;

         @media (max-width:991.98px) {
            width: 2000px;
         }

         @media (max-width:766.98px) {
            width: 1500px;
         }
      }
   }

   &__container {}

   &__content {}

   &__title {
      margin-bottom: 40px;
      font-family: 'Nekst';
      font-weight: 600;
      font-size: 36px;
      text-align: center;

      @media (max-width:766.98px) {
         font-size: 24px;
      }
   }

   &__body {}

   &__lists {}

   &__item {
      margin-bottom: 4px;
   }

   &__item-element {
      display: block;
      padding: 24px 20px;
      background-color: #ffffff;
      border-radius: 20px;
      width: 100%;
   }

   &__item-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 15px;

   }

   &__item-title-text {
      font-size: 20px;
      font-weight: 500;
      text-align: start;
      color: #1843BF;
   }

   &__item-title-icon {
      transform: rotate(135deg);
      transition: transform 0.3s;
   }

   &__item-text {
      display: block;
      text-align: start;
      overflow: hidden;
      max-height: 0px;
      padding-top: 0px;
      transition: max-height 0.4s, padding-top 0.4s;
   }
}

body._touch .tabs__item-element.tabs__open .tabs__item-title-icon,
body._pc .tabs__item-element:hover .tabs__item-title-icon {
   transform: rotate(0deg);
}

body._pc .tabs__item-element:hover .tabs__item-text,
body._touch .tabs__item-element.tabs__open .tabs__item-text {
   max-height: 70px;
   padding-top: 15px;

   @media (max-width:1400px) {
      max-height: calc(70px + (1px - (100vw / 1400)) * 150);
   }

   @media (max-width:766.98px) {
      max-height: calc(70px + (1px - (100vw / 1400)) * 200);
   }
}

.popular {
   margin-bottom: 70px;

   @media (max-width:1400px) {
      margin-bottom: calc(100vw / 1400 * 70);
   }

   &__container {}

   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width:766.98px) {
         display: block;
         text-align: center;
      }
   }

   &__content {
      position: relative;
      z-index: 2;
      margin-bottom: 20px;
      flex: 0 0 45%;
      min-width: 540px;

      @media (max-width:1200px) {
         flex: 0 1 50%;
         min-width: 0px;
      }
   }

   &__title {
      margin-bottom: 32px;
      font-family: 'Nekst';
      font-weight: 600;
      font-size: 64px;

      @media (max-width:1200px) {
         font-size: 55px;
      }

      @media (max-width:991.98px) {
         font-size: 40px;
      }

      @media (max-width:766.98px) {
         font-size: 24px;
      }
   }

   &__button {
      a {
         display: inline-block;
      }
   }

   &__image {
      flex: 0 1 55%;

      svg {
         width: 100%;
         height: 100%;
      }
   }
}