// Слайдер 
.slick-slider {
   min-width: 0;
}

// Ограничивающая оболочка 
.slick-list {
   overflow: hidden; // скрывает слайды за пределами 
}

// Лента слайдов 
.slick-track {
   display: flex;
}

// Стрелка
.slick-arrow {
   position: absolute;
   bottom: -55px;
   left: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   background-color: #ffffff;
   border-radius: 50%;
   font-size: 0px;

}

// Стрелка влево 
.slick-arrow.slick-prev {
   transform: translate(calc(-100% - 5px), 0%);
}

// Стрелка вправо 
.slick-arrow.slick-next {
   transform: translate(5px, 0%);
}