@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700,);


@font-face {
   font-family: 'Nekst';
   font-display: swap;
   src:
      url("../fonds/Nekst-SemiBold.woff2") format("woff2"),
      url("../fonds/Nekst-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Nekst';
   font-display: swap;
   src:
      url("../fonds/Nekst-Bold.woff2") format("woff2"),
      url("../fonds/Nekst-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}

@import "_resetStyle";

[class$="__container"] {
   max-width: 1400px;
   padding: 0px 10px;
   margin: 0 auto;
}

body {
   position: relative;
   font-family: 'Ubuntu';
   background-color: #F5F8FB;
   color: #161616;
   overflow-x: hidden;
}

body.body_overflow {
   overflow: hidden;
}




.text-blue {
   white-space: nowrap;
   color: #1843BF;
}

.button-orange {
   position: relative;
   column-gap: 10px;
   padding: 15px 35px;
   color: #ffffff;
   font-weight: 700;
   background-color: #ffb17d;
   box-shadow: 0px 0px 0px 4px #ff660033;
   border-radius: 30px;
   overflow: hidden;

   &__text {
      position: relative;
      z-index: 2;
      line-height: 150%;
      right: 0;
      transition: right 0.5s;
   }

   &__icon {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.5s;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #FF6600;
      border-radius: 30px;
      transition: width 0.5s, height 0.5s, margin 0.5s;
   }

   &:hover:before {
      width: 48px;
      height: calc(100% - 8px);
      margin: 4px;
      border-radius: 30px;
   }

   &:hover {
      .button-orange__icon {
         opacity: 1;
      }

      svg {
         animation: arrow 1s forwards;
      }

      .button-orange__text {
         right: 23px;
      }
   }
}


@import "_header";
@import "_main";
@import "_footer";
@import "slider";





.shape-overlays {
   position: absolute;
   z-index: 9;
   min-width: 100vw;
   min-height: 100vh;
   top: 0;
   left: 0;
}

.shape-overlays path:nth-of-type(1) {
   fill: #708ada;
}

.shape-overlays path:nth-of-type(2) {
   fill: #CCCFF1;
}

.shape-overlays path:nth-of-type(3) {
   fill: #ffffff;
}


.header__fon {
   position: fixed;
   top: 0;
   left: 0;
   // max-width: 100vw;
   min-width: 100vw;
   min-height: 100vh;
   overflow-x: hidden;
   pointer-events: none;
}


.observer {
   opacity: 0;
   transform: translate(0px, 100px);
   transition: opacity 1s, transform 1s;

}